.parent{
    background-image: url(fondo2.jpg);
    background-repeat: repeat;
    
}
.encabezado{
    font-family: fantasy;
    background-color: aqua;
    color: white;
}
h1, h2{
    margin-left: 200px;
}
.contenido{

}
.menu{
    height: 1350px;
    width: 300px;
    float: left;
}
#m{
    background-color: rgba(173, 216, 230, 0.579);
}
.vestimenta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#fondo1{
    width: 850px;
    height: 550px;
    background-image: url(bata1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.accesorios{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#fondo2{
    width: 850px;
    height: 550px;
    background-image: url(tutu1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#i{
    background-color: rgba(144, 190, 190, 0.777);
    width: 850px;
    height: 250px;
}
.pie{ 
    background-color: rgba(173, 216, 230, 0.579);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img {
    width: 50px;
    height: 50px;
}