.parent{

}
.encabezado{
    font-family: fantasy;
    background-color: aqua;
    color: white;
}
h1, h2{
    margin-left: 200px;
}
.contenido{

}
.menu{

}
.vestimenta{

}
.accesorios{

}
.info{
    
}
.pie{
    
}