.parent{

}
.encabezado{
    font-family: fantasy;
    background-color: aqua;
    color: white;
}
h1, h2{
    margin-left: 200px;
}
.contenido{

}
.menu{
    background-color: rgba(173, 216, 230, 0.579);
}
.vestimenta .accesorios{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#fondo1{
    width: 850px;
    height: 550px;
    background-image: url(bata1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#fondo2{
    
}
.info{

}
.pie{
    
}