.parent{

}
.encabezado{
    font-family: fantasy;
    background-color: aqua;
    color: white;
}
h1, h2{
    margin-left: 200px;
}
.contenido{

}
.menu{
    background-color: rgba(173, 216, 230, 0.579);
}
.vestimenta{
  
}
#fondo1{

}
.accesorios{

}
.info{

}
.pie{
    
}